<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:body>
        <ui:composition template="/WEB-INF/faces/layout_admin.xhtml">
            <ui:define name="header">
                Учетные записи
            </ui:define>
            <ui:define name="content">
                <nav class="navbar navbar-default">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="create_athlete.xhtml">
                                <button class="btn btn-default navbar-btn">
                                    <span class="glyphicon glyphicon-plus-sign" />
                                    Создать спортсмена
                                </button>
                            </a>
                        </li>
                        <li>
                            <a href="create_coach.xhtml">
                                <button class="btn btn-default navbar-btn">
                                    <span class="glyphicon glyphicon-plus-sign" />
                                    Создать тренера
                                </button>
                            </a>
                        </li>
                        <li>
                            <a href="create_medic.xhtml">
                                <button class="btn btn-default navbar-btn">
                                    <span class="glyphicon glyphicon-plus-sign" />
                                    Создать врача
                                </button>
                            </a>
                        </li>
                        <li>
                            <a href="create_psychologist.xhtml">
                                <button class="btn btn-default navbar-btn">
                                    <span class="glyphicon glyphicon-plus-sign" />
                                    Создать психолога
                                </button>
                            </a>
                        </li>
                    </ul>
                </nav>
                <table class="table">
                    <thead>
                        <th>
                            Адрес электронной почты
                        </th>
                        <th>
                            Статус подтверждения
                        </th>
                        <th>
                            Дата регистрации
                        </th>
                        <th>
                            Дата окончания блокировки
                        </th>
                        <th>
                        </th>
                    </thead>
                    <tbody>
                        <h:form>
                            <ui:repeat value="#{accounts.accounts}"
                                       var="u">
                                <tr>
                                    <td>
                                        <h:outputText value="#{u.email}" title="#{u.email}" />
                                    </td>
                                    <td>
                                        <h:outputText value="#{u.approvedEmail ? 'да' : 'нет'}" />
                                    </td>
                                    <td>
                                        <h:outputText value="#{u.registered}">
                                            <f:convertDateTime pattern="dd.MM.yyyy HH:mm:ss" />
                                        </h:outputText>
                                    </td>
                                    <td>
                                        <h:outputText value="#{u.lockedUntil}">
                                            <f:convertDateTime pattern="dd.MM.yyyy HH:mm:ss" />
                                        </h:outputText>
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle"
                                                    type="button"
                                                    id="ddm"
                                                    data-toggle="dropdown"
                                                    aria-haspopup="true"
                                                    aria-expanded="true">
                                                Операции
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="ddm">
                                                <ui:fragment rendered="#{u.hasRole('athlete')}">
                                                    <li>
                                                        <h:link outcome="edit_athlete.xhtml"
                                                                value="Редактировать">
                                                            <f:param name="id" value="#{u.id}" />
                                                        </h:link>
                                                    </li>
                                                </ui:fragment>
                                                <ui:fragment rendered="#{u.hasRole('coach')}">
                                                    <li>
                                                        <h:link outcome="edit_coach.xhtml"
                                                                value="Редактировать">
                                                            <f:param name="id" value="#{u.id}" />
                                                        </h:link>
                                                    </li>
                                                </ui:fragment>
                                                <ui:fragment rendered="#{u.hasRole('medic')}">
                                                    <li>
                                                        <h:link outcome="edit_medic.xhtml"
                                                                value="Редактировать">
                                                            <f:param name="id" value="#{u.id}" />
                                                        </h:link>
                                                    </li>
                                                </ui:fragment>
                                                <ui:fragment rendered="#{u.hasRole('psychologist')}">
                                                    <li>
                                                        <h:link outcome="edit_psychologist.xhtml"
                                                                value="Редактировать">
                                                            <f:param name="id" value="#{u.id}" />
                                                        </h:link>
                                                    </li>
                                                </ui:fragment>
                                                <ui:fragment rendered="#{u.hasRole('master')}">
                                                    <li>
                                                        <h:link outcome="edit_attached_athletes.xhtml"
                                                                value="Редактировать прикрепленных спортсменов">
                                                            <f:param name="id" value="#{u.id}" />
                                                        </h:link>
                                                    </li>
                                                </ui:fragment>
                                                <li>
                                                    <h:link outcome="lock_account.xhtml"
                                                            value="Заблокировать">
                                                        <f:param name="id" value="#{u.id}" />
                                                    </h:link>
                                                </li>
                                                <li>
                                                    <h:commandLink 
                                                        action="#{accounts.deleteAccount(u.id, 'accounts.xhtml')}"
                                                        value="Удалить">
                                                        <f:param name="id" value="#{u.id}" />
                                                    </h:commandLink>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </ui:repeat>
                        </h:form>
                    </tbody>
                </table>
            </ui:define>
        </ui:composition>
    </h:body>
</html>