<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <f:metadata>
            <f:viewParam name="id" value="#{editPsychologist.psychologistId}" />
        </f:metadata>
        <ui:composition template="/WEB-INF/faces/layout_admin.xhtml">
            <ui:define name="header">
                Редактировать данные психолога
            </ui:define>
            <ui:define name="content">
                <h:form>
                    <ui:include src="/WEB-INF/faces/account_form.xhtml">
                        <ui:param name="model" value="#{editPsychologist.accData}" />
                    </ui:include>
                    <ui:include src="/WEB-INF/faces/specialist_form.xhtml">
                        <ui:param name="model" value="#{editPsychologist.specData}" />
                    </ui:include>
                    <h:commandButton action="#{editPsychologist.updateData()}"
                                     class="btn btn-primary"
                                     value="Применить изменения"/>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

