<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <f:metadata>
            <f:viewParam name="id" value="#{editEnum.id}" />
            <f:event type="preRenderComponent" listener="#{editEnum.init()}"/>
        </f:metadata>
        <ui:composition template="/WEB-INF/faces/layout_admin.xhtml">
            <ui:define name="header">Редактировать перечисление</ui:define>
            <ui:define name="content">
                <h:form>
                    <ui:include src="/WEB-INF/faces/enum_form.xhtml">
                        <ui:param name="model" value="#{editEnum.model}" />
                    </ui:include>
                    <h:commandButton value="Применить"
                                     action="#{editEnum.update()}"
                                     class="btn btn-primary" />
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

