<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <ui:composition template="/WEB-INF/faces/layout_admin.xhtml">
            <ui:define name="header">Перечисления</ui:define>
            <ui:define name="content">
                <nav class="navbar navbar-default">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="create_enum.xhtml">
                                <button class="btn btn-primary navbar-btn">
                                    <span class="glyphicon glyphicon-plus-sign" />
                                    Создать
                                </button>
                            </a>
                        </li>
                    </ul>
                </nav>
                <h:form rendered="#{enumTypes.records.size() > 0}">
                    <table class="table">
                        <thead>
                            <th>Название</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <ui:repeat value="#{enumTypes.records}"
                                       var="et">
                                <tr>
                                    <td>#{et.name}</td>
                                    <td>
                                        <div class="btn-group">
                                            <h:button outcome="edit_enum.xhtml"
                                                      class="btn btn-default #{empty et.code ? '' : 'disabled'}"
                                                      value="Редактировать"
                                                      rendered="#{et.code != null}">
                                                <f:param name="id" value="#{et.id}" />
                                            </h:button>
                                            <h:commandButton
                                                class="btn btn-default #{empty et.code ? '' : 'disabled'}"
                                                value="Удалить"
                                                action="#{enumTypes.delete(et.id)}"/>
                                        </div>
                                    </td>
                                </tr>
                            </ui:repeat>
                        </tbody>
                    </table>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

