<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:body>
        <ui:composition>
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    #{model.lastName} #{model.firstName} #{model.middleName}
                </div>
                <div class="panel-body">
                    <div>Пол: #{model.gender.label}</div>
                    <div>Дата рождения: 
                        <h:outputText value="#{model.birthDate}">
                            <f:convertDateTime pattern="dd.MM.yyyy" />
                        </h:outputText>
                    </div>
                    <div>Место работы: #{model.workplace}</div>
                    <div>Должность: #{model.occupation}</div>
                    <div>Номер телефона: #{model.phone}</div>
<!--                    <div class="form-group">
                        <label for="gender">Пол</label>
                        <h:selectOneMenu id="gender" class="form-control" 
                                         value="#{model.gender}">
                            <f:selectItems value="#{model.allGenders}" 
                                           var="g"
                                           itemValue="#{g}"
                                           itemLabel="#{g.label}" />
                        </h:selectOneMenu>
                    </div>
                    <div class="form-group">
                        <label for="gender">Дата рождения</label>
                        <div class="input-group date">
                            <h:inputText class="form-control" value="#{model.birthDate}">
                                <f:convertDateTime pattern="dd.MM.yyyy"/>  
                            </h:inputText>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                        <div class="form-group">
                            <label for="workplace">Место работы</label>
                            <h:inputText id="workplace" class="form-control" value="#{model.workplace}" />
                        </div>
                        <div class="form-group">
                            <label for="occupation">Должность</label>
                            <h:inputText id="occupation" class="form-control" value="#{model.occupation}" />
                        </div>
                        <div class="form-group">
                            <label for="phone">Номер телефона</label>
                            <h:inputText id="phone" class="form-control" value="#{model.phone}" />
                        </div>
                        <div class="form-group">
                            <label for="lastName">Фамилия</label>
                            <h:inputText id="lastName" class="form-control" value="#{model.lastName}" />
                        </div>
                        <div class="form-group">
                            <label for="firstName">Имя</label>
                            <h:inputText id="firstName" class="form-control" value="#{model.firstName}" />
                        </div>
                        <div class="form-group">
                            <label for="middleName">Отчество</label>
                            <h:inputText id="middleName" class="form-control" value="#{model.middleName}" />
                        </div>
                    </div>-->
                </div>
            </div>
        </ui:composition>
    </h:body>
</html>

