<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Кабинет</title>
        <link href="#{request.contextPath}/resources/css/bootstrap.min.css" rel="stylesheet" />
        <link href="#{request.contextPath}/resources/css/cabinet.css" rel="stylesheet" />
        <link href="#{request.contextPath}/resources/css/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" />
        <script src="#{request.contextPath}/resources/js/jquery-2.2.4.min.js" type="text/javascript" ></script>
        <script src="#{request.contextPath}/resources/js/bootstrap.min.js" type="text/javascript" ></script>
        <script src="#{request.contextPath}/resources/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
        <script src="#{request.contextPath}/resources/js/bootstrap-datepicker.ru.min.js" type="text/javascript"></script>
        <script src="#{request.contextPath}/resources/js/cabinet.js" type="text/javascript" ></script>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <script type="text/javascript">
            window.contextPath = "#{request.contextPath}";
        </script>
        <ui:insert name="scripts" />
    </h:head>
    <h:body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.xhtml">
                        Кабинет
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <ui:fragment rendered="#{request.isUserInRole('master')}">
                            <li class="#{view.viewId == '/cabinet/athletes.xhtml' ? 'active' : ''}">
                                <h:link outcome="athletes.xhtml"
                                        value="Спортсмены" />
                            </li>
                        </ui:fragment>
                        <ui:fragment rendered="#{request.isUserInRole('athlete') and availableCoaches.canMakeRequests()}">
                            <li class="#{view.viewId == '/cabinet/available_coaches.xhtml' ? 'active' : ''}">
                                <h:link outcome="available_coaches.xhtml"
                                        value="Тренеры" />
                            </li>
                        </ui:fragment>
                        <ui:fragment rendered="#{request.isUserInRole('athlete') and availableCoaches.hasRequests()}">
                            <li class="#{view.viewId == '/cabinet/pending_requests.xhtml' ? 'active' : ''}">
                                <h:link outcome="pending_requests.xhtml"
                                        value="Запросы" />
                            </li>
                        </ui:fragment>
                        <ui:fragment rendered="#{request.isUserInRole('athlete') and availableCoaches.hasCoach()}">
                            <li class="#{view.viewId == '/cabinet/masters.xhtml' ? 'active' : ''}">
                                <h:link outcome="masters.xhtml"
                                        value="Специалисты" />
                            </li>
                        </ui:fragment>
                        <li class="#{view.viewId == '/cabinet/dialogs.xhtml' ? 'active' : ''}">
                            <h:link outcome="dialogs.xhtml"
                                    value="Сообщения">
                                <span id="unread" class="badge">#{dialogs.unreadCount}</span>
                            </h:link>
                        </li>
                        <ui:fragment rendered="#{request.isUserInRole('athlete') and availableCoaches.hasCoach()}">
                            <li class="#{view.viewId == '/cabinet/athlete_record_groups.xhtml' ? 'active' : ''}">
                                <h:link outcome="athlete_record_groups.xhtml"
                                        value="Записи" />
                            </li>
                        </ui:fragment>
                        <ui:fragment rendered="#{request.isUserInRole('master')}">
                            <li class="#{view.viewId == '/cabinet/master_record_groups.xhtml' ? 'active' : ''}">
                                <h:link outcome="master_record_groups.xhtml"
                                        value="Записи" />
                            </li>
                        </ui:fragment>
                        <ui:fragment rendered="#{request.isUserInRole('master')}">
                            <li class="#{view.viewId == '/cabinet/requests.xhtml' ? 'active' : ''}">
                                <h:link outcome="requests.xhtml"
                                        value="Запросы">
                                    <span id="requests" class="badge">
                                        #{cabinetCommon.incomingRequestsCount}</span>
                                </h:link>
                            </li>
                        </ui:fragment>
                        <li class="#{view.viewId == '/cabinet/update_info.xhtml' ? 'active' : ''}">
                            <h:link outcome="update_info.xhtml"
                                    value="Профиль" />
                        </li>
                    </ul>
                    <h:form class="navbar-form navbar-right">
                        <h:commandLink 
                            type="button"
                            class="btn btn-default" 
                            value="Выйти"
                            action="#{login.logout()}">
                            <span class="glyphicon glyphicon-log-out" aria-hidden="true">
                            </span>
                        </h:commandLink>
                    </h:form>
                </div>
            </div>
        </nav>
        <div class="container">
            <ui:insert name="content" />
        </div>
    </h:body>
</html>

