<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>
            <ui:insert name="header">
                Кабинет
            </ui:insert>
        </title>
        <link href="#{request.contextPath}/resources/css/bootstrap.min.css" rel="stylesheet" />
        <link href="#{request.contextPath}/resources/css/cabinet.css" rel="stylesheet" />
        <link href="#{request.contextPath}/resources/css/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" />
        <script src="#{request.contextPath}/resources/js/jquery-2.2.4.min.js" type="text/javascript" ></script>
        <script src="#{request.contextPath}/resources/js/bootstrap.min.js" type="text/javascript" ></script>
        <script src="#{request.contextPath}/resources/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
        <script src="#{request.contextPath}/resources/js/bootstrap-datepicker.ru.min.js" type="text/javascript"></script>
        <script src="#{request.contextPath}/resources/js/cabinet.js" type="text/javascript" ></script>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <ui:insert name="scripts" />
    </h:head>
    <h:body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.xhtml">
                        Кабинет
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="#{view.viewId == '/admin/accounts.xhtml' ? 'active' : ''}">
                            <h:link outcome="accounts.xhtml"
                                    value="Учетные записи" />
                        </li>
                        <li class="#{view.viewId == '/admin/record_groups.xhtml' ? 'active' : ''}">
                            <h:link outcome="record_groups.xhtml"
                                    value="Группы записей" />
                        </li>
                        <li class="#{view.viewId == '/admin/enums.xhtml' ? 'active' : ''}">
                            <h:link outcome="enums.xhtml"
                                    value="Перечисления" />
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <h:messages class="alert alert-info">
            </h:messages>
            <ui:insert name="content" />
        </div>
    </h:body>
</html>

