<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <ui:composition>
            <div class="panel panel-default">
                <div class="panel-heading">Данные специалиста</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="activityType">Направление деятельности</label>
                        <h:inputText id="activityType"
                                     class="form-control"
                                     value="#{model.activityType}" />
                    </div>
                    <div class="form-group">
                        <label for="highSpeciality">Специальность высшего образования</label>
                        <h:inputText id="highSpeciality"
                                     class="form-control"
                                     value="#{model.highSpeciality}" />
                    </div>
                    <div class="form-group">
                        <label for="academicDegree">Ученая степень</label>
                        <h:inputText id="academicDegree"
                                     class="form-control"
                                     value="#{model.academicDegree}" />
                    </div>
                    <div class="form-group">
                        <label for="academicSpeciality">Специальность ученой степени</label>
                        <h:inputText id="academicSpeciality"
                                     class="form-control"
                                     value="#{model.academicDegree}" />
                    </div>
                    <div class="form-group">
                        <label for="academicSpeciality">Ученое звание</label>
                        <h:inputText id="academicTitle"
                                     class="form-control"
                                     value="#{model.academicTitle}" />
                    </div>
                </div>
            </div>
        </ui:composition>
    </h:body>
</html>

