<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/WEB-INF/faces/layout_cabinet.xhtml">
        <ui:define name="header">Спортсмены</ui:define>
        <ui:define name="content">
            <table class="table">
                <thead>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Email</th>
                </thead>
                <tbody>
                    <ui:repeat value="#{cabinetAthletes.athletes}"
                               var="a">
                        <tr>
                            <td>
                                <h:link outcome="profile_info.xhtml" value="#{a.lastName}">
                                    <f:param name="id" value="#{a.id}" />
                                </h:link>
                            </td>
                            <td>#{a.firstName}</td>
                            <td>#{a.middleName}</td>
                            <td>#{a.email}</td>
                        </tr>
                    </ui:repeat>
                </tbody>
            </table>
        </ui:define>
    </ui:composition>
</html>

