<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/WEB-INF/faces/layout_cabinet.xhtml">
        <ui:define name="header">Тренеры</ui:define>
        <ui:define name="content">
            <h:form>
                <table class="table">
                    <thead>
                        <th>Фамилия</th>
                        <th>Имя</th>
                        <th>Отчество</th>
                        <th>Операции</th>
                    </thead>
                    <tbody>
                        <ui:repeat value="#{availableCoaches.availableCoaches}"
                                   var="a">
                            <tr>
                                <td>#{a.lastName}</td>
                                <td>#{a.firstName}</td>
                                <td>#{a.middleName}</td>
                                <td>#{a.email}</td>
                                <td>
                                    <h:commandButton action="#{availableCoaches.createRequest(a.id)}"
                                                     value="Отправить запрос"
                                                     class="btn btn-primary" />
                                </td>
                            </tr>
                        </ui:repeat>
                    </tbody>
                </table>
            </h:form>
        </ui:define>
    </ui:composition>
</html>

