<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <ui:composition template="/WEB-INF/faces/layout_cabinet.xhtml">
            <ui:define name="scripts">
                <script src="#{request.contextPath}/resources/js/dialog.js"></script>
                <script type="text/javascript">
                    window.accId = #{accountBean.account.id};
                    window.convId = #{request.getParameter("id")};
                </script>
            </ui:define>
            <ui:define name="content">
                <div id="chat_wrapper">

                </div>
                <div class="chat_controls">
                    <div class="row">
                        <div class="col-xs-8">
                            <input id="text" type="text" class="text form-control" />
                        </div>
                        <div class="col-xs-4">
                            <button id="send" class="btn btn-primary send">
                                Отправить
                            </button>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

