<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <f:metadata>
            <f:viewParam name="group" value="#{cabinetRecords.groupId}" />
            <f:event type="preRenderComponent" listener="#{cabinetRecords.init()}"/>
        </f:metadata>
        <ui:composition template="/WEB-INF/faces/layout_cabinet.xhtml">
            <ui:define name="header">
                Редактирование категории
            </ui:define>
            <ui:define name="content">
                <h:form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Дата</label>
                        <div class="col-sm-2">
                            <h:inputText class="form-control form-control-static date" 
                                         value="#{cabinetRecords.date}">
                                <f:convertDateTime type="date" pattern="dd.MM.yyyy" />
                            </h:inputText>
                        </div>
                        <div class="col-sm-2">
                            <h:commandButton class="btn btn-primary"
                                             action="#{cabinetRecords.reload()}"
                                             value="Обновить"/>
                        </div>
                    </div>
                    <hr />
                    <ui:repeat value="#{cabinetRecords.model.valueModels}"
                               var="r">
                        <div class="form-group">
                            <h:outputLabel value="#{r.name}" class="control-label col-sm-2" />
                            <div class="col-sm-10">
                                <h:inputText class="form-control" 
                                             value="#{r.intValue}"
                                             rendered="#{r.valueType eq 'Integer'}" />
                                <h:inputText class="form-control"
                                             value="#{r.floatValue}"
                                             rendered="#{r.valueType eq 'Float'}" />
                                <h:inputTextarea class="form-control"
                                                 value="#{r.textValue}"
                                                 rendered="#{r.valueType eq 'Text'}" />
                                <h:selectOneMenu 
                                    class="form-control"
                                    rendered="#{r.valueType eq 'Enum'}"
                                    value="#{r.enumValueId}">
                                    <f:selectItem
                                        itemLabel="Не указано"
                                        itemValue="#{null}" />
                                    <f:selectItems
                                        value="#{r.enumValues}"
                                        var="ev"
                                        itemLabel="#{ev.name}"
                                        itemValue="#{ev.id}" />
                                </h:selectOneMenu>
                            </div>
                        </div>
                    </ui:repeat>
                    <div class="col-sm-offset-2 col-sm-10">
                        <h:commandButton class="btn btn-primary"
                                         action="#{cabinetRecords.update()}"
                                         value="Сохранить" />
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

