<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <ui:composition template="/WEB-INF/faces/layout_cabinet.xhtml">
            <ui:define name="header">Обновить данные</ui:define>
            <ui:define name="content">
                <h:form>
                    <ui:include src="/WEB-INF/faces/account_form.xhtml">
                        <ui:param name="model" value="#{myProfileInfo.accountData}" />
                    </ui:include>
                    <c:if test="#{request.isUserInRole('coach')}">
                        <ui:include src="/WEB-INF/faces/coach_form.xhtml">
                            <ui:param name="model" value="#{myProfileInfo.coachData}" />
                        </ui:include>
                    </c:if>
                    <c:if test="#{request.isUserInRole('athlete')}">
                        <ui:include src="/WEB-INF/faces/athlete_form.xhtml">
                            <ui:param name="model" value="#{myProfileInfo.athleteData}" />
                        </ui:include>
                    </c:if>
                    <c:if test="#{request.isUserInRole('medic') or request.isUserInRole('psychologist')}">
                        <ui:include src="/WEB-INF/faces/specialist_form.xhtml">
                            <ui:param name="model" value="#{myProfileInfo.specData}" />
                        </ui:include>
                    </c:if>
                    <h:commandButton actionListener="#{myProfileInfo.update()}" 
                                     class="btn btn-primary"
                                     value="Обновить" />
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

