<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Система мониторинга для спортсменов</title>
    </h:head>
    <h:body>
        <h:outputText value="Вход не выполнен" rendered="#{empty request.userPrincipal}" />
        <h:panelGroup rendered="#{not empty request.userPrincipal}">
            <h:outputText value="Вход выполнен: #{request.remoteUser}" />
            <div>
                <h:form>
                    <h:commandButton action="#{login.logout()}" value="Выйти" />
                </h:form>
            </div>
        </h:panelGroup>
        <h:panelGroup rendered="#{empty request.userPrincipal}">
            <div>
                <h:link outcome="login.xhtml" value="Перейти на страницу входа" />
            </div>
        </h:panelGroup>
        <h:panelGroup rendered="#{not empty request.userPrincipal}">
            #{accountBean.account.fullFIO}
        </h:panelGroup>
        <h:form>
            <h:inputText class="date form-control" value="#{index.date}">
                <f:convertDateTime pattern="dd.MM.yyyy" />
            </h:inputText>
            <h:commandButton action="#{index.test()}" value="Test" />
        </h:form>
    </h:body>
</html>

